<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <title>MVC PROJESİ</title>
    <link href="~/lib/bootstrap.css" rel="stylesheet" />
</head>
<body>

    @if (@User.Claims.FirstOrDefault(x => x.Type == "id")?.Value != null)
    {
        <div class="alert alert-success">
            Hoşgeldin @User.Claims.FirstOrDefault(x => x.Type == "email")?.Value -
            <a class="btn btn-primary btn-sm" asp-action="SignOut" asp-controller="Auth">Sign Out</a>
        </div>
    }


    <partial name="_navPartial" />



    <div class="container">


        @RenderBody()



    </div>

    <partial name="_footerPartial" />

</body>
</html>