@model BookAddViewModel

<h3 class="text-secondary fw-bolder">Book Adding Page</h3>
<form asp-action="Add" asp-controller="Book" method="post">
    <div class="mb-2">
        <label class="form-label fw-bolder">Name</label>
        <input asp-for="Title" class="form-control" type="text" />
        <span asp-validation-for="Title" class="text-danger fw-bold"></span>
    </div>
    <div class="mb-2">
        <label class="form-label fw-bolder">Genre</label>
        <input asp-for="Genre" class="form-control" type="text" />
        <span asp-validation-for="Genre" class="text-danger fw-bold"></span>
    </div>
    <div class="mb-2">
        <label class="form-label fw-bolder">ISBN</label>
        <input asp-for="ISBN" class="form-control" type="text" />
        <span asp-validation-for="ISBN" class="text-danger fw-bold"></span>
    </div>
    <div class="mb-2">
        <label class="form-label fw-bolder">Number of Copies</label>
        <input asp-for="CopiesAvailable" class="form-control" type="number" />
        <span asp-validation-for="CopiesAvailable" class="text-danger fw-bold"></span>
    </div>
    <div class="mb-2 form">
        <label class="form-label">Author</label>
        <select asp-for="AuthorId" asp-items="@( new SelectList(ViewBag.Author,"Id","FullName") )" class="form-control">
            <option selected disabled>Select</option>
        </select>
        <span asp-validation-for="AuthorId" class="text-danger fw-bold"></span>
    </div>

    <button type="submit" class="btn btn-primary">Add</button>
</form>