@model BookEditViewModel


<h3 class="text-secondary fw-bolder">Edit Book</h3>

<input asp-for="Id" type="hidden" />
<form asp-action="Edit" asp-controller="Book" method="post">
    <div class="mb-2">
        <label class="form-label fw-bolder">Name</label>
        <input asp-for="Title" class="form-control" type="text" />
        <span asp-validation-for="Title" class="text-danger fw-bold"></span>
    </div>
    <div class="mb-2">
        <label class="form-label fw-bolder">Genre</label>
        <input asp-for="Genre" class="form-control" type="text" />
        <span asp-validation-for="Genre" class="text-danger fw-bold"></span>
    </div>
    <div class="mb-2">
        <label class="form-label fw-bolder">ISBN</label>
        <input asp-for="ISBN" class="form-control" type="text" />
        <span asp-validation-for="ISBN" class="text-danger fw-bold"></span>
    </div>
    <div class="mb-2">
        <label class="form-label fw-bolder">Number Of Copies</label>
        <input asp-for="AvailableCopies" class="form-control" type="number" />
        <span asp-validation-for="AvailableCopies" class="text-danger fw-bold"></span>
    </div>
    <div class="mb-2 form">
        <label class="form-label">Author</label>
        <select asp-for="AuthorId" asp-items="@( new SelectList(ViewBag.Author,"Id","FullName") )" class="form-control">
            <option selected disabled>Seçiniz</option>
        </select>
        <span asp-validation-for="AuthorId" class="text-danger fw-bold"></span>
    </div>
    <button type="submit" class="btn btn-primary">Ekle</button>
    <a asp-action="List" asp-controller="Book" class="btn btn-warning">Go Back</a>
</form>